
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:Segoe UI,CustomSegoeUI,Arial;
    font-size:12px;
	margin:0;
	padding:0;

}

.orangebg{
    background-color:#f89821;
    background-image:linear-gradient(top, #f89821 0%, #f89821 51%);
    background-image:-webkit-linear-gradient(top, #f89821 0%, #f89821 51%);
    background-image:-ms-linear-gradient(top, #f89821 0%, #f89821 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f89821),
        color-stop(0.51, #f89821)
    );
    background-attachment:fixed;

}







/* Portrait layout (default) */

.header{
	height:75px;
	  box-shadow: 0px 2px 5px #3F3F3F;


}

.header img{
	padding:0px 10px;
}

.menu {

  height: 75px;
box-shadow:0px -2px 5px #3F3F3F;  
  position: absolute;
  bottom: 0;
  width: 100%;
}


.buttons{
  width: 100%;
  font-size: 75px;
height: 100%;
  text-align: center;

}


.camera-btn{
  display: block;
height: 100%;
  width: 33%;
  margin: 0 auto;

color: #f8e8a3;
  background-color: #e06826;
 
  

}

.file-btn{
  display: block;
  width: 33%;
  margin: 0 auto;

color: #e06826;

  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 60px;

 
  

}

.share-btn{
  display: block;
  width: 33%;
  margin: 0 auto;

color: #e06826;

  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 70px;

 
  

}

.main{

  background-color: #f8e8a3;
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;

}

.box{
  width: 0px;
  height: 0px;
  border: solid 1px white;
  position: absolute;
  z-index: 99999;
  top: 0px;
  left: 0px;
  border-radius:2px;

}

.attributes{
  font-size: 30px;
  color: #f8e8a3;
  background-color: #e06826;
  padding: 5px;
  border-radius: 2px;
  margin-left: 5px;
  margin-top: 5px;	
  display:table;
  
}

.app {	


	
	
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}
